* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.btn {
  position: relative;
  height: 100%;
}

.carouselSection {
  position: relative;
  overflow: hidden;
  height: 100%;
  flex: 2;
}

.container {
  position: relative;
  height: 100%;
}

.carousel {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
}

.item {
  border: 1px solid black;
  width: 200px;
  /* flex: 1; */
}

@media (max-width: 500px) {
  .item {
    width: 175px;
  }
}
